.container-register{
    background-color: #404040;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    color: white;
    background-image: url("./../../resources/img/background-friends.jpg");
    background-size: cover;
    background-repeat: no-repeat ;
    background-blend-mode: soft-light;
}


.logo-register{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo-register .logo img{
    width: 20rem;
}

.logo-register .name{
    font-size: 3rem;
}

.box {
	background: linear-gradient(to right, gold, darkorange);
	color: white;
	--width: 250px;
	--height: calc(var(--width) / 3);
	width: var(--width);
	height: var(--height);
	text-align: center;
	line-height: var(--height);
	font-size: calc(var(--height) / 2.5);
	font-family: sans-serif;
	letter-spacing: 0.2em;
	border: 1px solid darkgoldenrod;
	border-radius: 2em;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

.box:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.box::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, white, transparent);
	left: -100%;
	transition: 0.5s;
}

.box:hover::before {
	left: 100%;
}

.redes{
	margin: 2rem auto;
}

@media screen and (min-width:768px){
	.redes{
		margin: 0;
	}
}